.main-header {
    /* padding: 1rem 2rem; */
    padding: 0.8rem 1rem;
    background: var(--white);
    display: flex;
    justify-content: flex-end;
  }
  
  .header-tabs span {
    color: var(--charcoal-grey);
    font-size: 0.9rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .divider {
    color: var(--soft-blue);
    display: none;
  }

  .header-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  @media (max-width: 480px) {
    .header-tabs span {
      font-size: 0.8rem;
      margin: 0 0.3rem;
    }
  }